.banner{
    width: 40em;
    height: 40em;
    border-radius: 0 0 4em 0;
    background: var(--BannerGradient);
    float: top left;
    anchor-name: --banner;
}

.bannericon {
    width: 30em;
    height: 30em;
    margin: 3em;
    filter: drop-shadow(0 7px 0 #1483bb);
}

.underbanner {
    padding-top: 41em;
}

.underbannerP {
    padding-top: 7em;
}

.bannerparagraph {
    float: right;
    margin-top: 7em;
    margin-left: 42em;
}

.bannerinline, .bannerinline2 {
    width: 4em;
    height: 4em;
    position: absolute;
    background: var(--BaseColor);
    border-radius: 0 0 4em 0;
    corner-shape: scoop;
    position-anchor: --banner;
    position-area: top right;
}

.bannerinline2 {
    height: 4em;
    position-area: bottom left;
    margin-top: 40em;
    filter: contrast(1.2);
}

.bannershadow {
    filter: drop-shadow(4px 4px 0 #1483bb);
    width: 45em;
    height: 40em;
}

.indexlegs {
    position: static;
    margin-top: 38em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5em;
    padding: .2em;
    border-radius: 20px 20px 0 0;
    background: var(--BannerGradient);
}

.legs {
    position: static;
    float: bottom;
    margin-top: 5em;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5em;
    padding: .2em;
    border-radius: 20px 20px 0 0;
    background: var(--BannerGradient);
}

.tabel {
    margin-left: 47.5vw;
    margin-right: 47.5vw;
}

.PE {
    width: 4.4vw;
    background: var(--SecondColor);
    border-radius: 15px;
}

.btnblock {
    position: absolute;
    top: 0;
    right: 0;
}