* {
    padding: 0;
    margin: 0;
    font-family: 'Minecraft Rus';
    transition: 0.8s;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.linkh3 {
    font-size: 1.1vw;
}

.flag {
    width: 1.5vw;
}

.linkpoint {
    width: 2vw;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Minecraft Rus";
    src: url("../language/minecraft.ttf");
}

.backgrounded {
    background: var(--Background);
}

.RLC {
    margin-left: 2vw;
    margin-right: 2vw;
}

.img_16_9 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.img_1_1 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.TTT {
    margin-right: 0.5em;
    margin-top: 0.6rem;
    color: var(--BaseColor);
    text-shadow: var(--SecondShadow);
    font-size: 0.6em;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.switch {
    margin-top: 0px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}

.ThemeSwitch {
    margin: 0.5em;
}

/* Hide default HTML checkbox */
.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--BaseColor);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3em;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.8em;
    width: 0.8em;
    left: 0.3rem;
    bottom: 0.1em;
    background-color: var(--SecondColor);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3em;
}

input:checked + .slider {
    background-color: var(--BaseColor);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--BaseColor);
}

input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

select {
  transition: 0.4s;
}

select:hover,
select:focus {
  background: var(--BlockShadow);
  box-shadow: var(--BaseShadow);
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: var(--BaseColor);
  padding: 10px;
}

.sticky {
    top: 0.5vw;
    position: sticky;
    z-index: 9999;
}

#upBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--BaseColor);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 0.8vw;
  font-size: xx-large;
  transition: 0.6s;
}

#upBtn:hover {
  background-color: var(--SecondColor);
}

.DivRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.DivColumn {
  flex: 50%;
  padding: 0 4px;
}

.DivColumn img {
  margin-top: 8px;
  vertical-align: middle;
}

.copied {
  display: none;
  color: var(--TextColor);
  margin-top: -1.5em;
  margin-left: 2em;
  animation: fade .3s both;
}

.copy-btn {
    background: none;
    border: none;
    outline: none;
}

.box {
    border-radius: 3em;
    box-shadow: var(--BlockShadow);
}

.box2 {
    border-radius: 3em;
    box-shadow: var(--BlockShadow);
    margin: 2vw 5vw 2vw 5vw;
    padding: 1vw;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
}

.gallery img {
    max-width: 25em;
    background: var(--BackgroundGradient);
    box-shadow: var(--BaseShadow);
    border-radius: 3em;
    border: 1px solid;
    border-color: var(--BaseColor);
}

table {
    border-radius: 3em;
    border: 1px solid;
    border-collapse: separate;
    border-spacing: 1em;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: .2em;
}

th, td {
    padding: 1em;
}

tr {
    box-shadow: var(--BaseShadow);
    border-radius: 3em;
    text-align: center;
    border: 1px solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.newlink {
    position: fixed;
    text-align: center;
    backdrop-filter: blur(5px);
    background: var(--DropDown);
    box-shadow: var(--BlockShadow);
    color: var(--BaseColor);
    border-radius: 3em;
    padding: 1em;
    z-index: 10000;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -10%;
    border: 2px solid var(--BaseColor);
}