* {
    padding: 0;
    margin: 0;
    font-family: 'Minecraft Rus';
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5vw;
    text-align: center;
}

h2 {
    font-size: 1.8vw;
    text-align: center;
}

h3 {
    font-size: 1.1vw;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Minecraft Rus";
    src: url("../language/minecraft.ttf");
}

.RLC {
    margin-left: 2vw;
    margin-right: 2vw;
}

.img_16_9 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.img_1_1 {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.TTT {
    margin-right: 0.5em;
    margin-top: 0.6rem;
    color: var(--TTSC);
    text-shadow: var(--TTSCS);
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.switch {
    margin-top: 0px;
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 3rem;
}

/* Hide default HTML checkbox */
.switch input {display: none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(76, 147, 228);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    left: 0.3rem;
    bottom: 4px;
    background-color: var(--BacCol);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(255, 108, 108);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--TCO);
}

input:checked + .slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}

.lang {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: var(--TTSC);
    border: 0;
    box-shadow: 0 0 10px var(--TCO);
    scale: 1.5;
    margin: 0.3em;
    color: var(--WT);
    text-align: center;
}
.lang::-ms-expand {
    display: none;
}

.langMark {
    margin-top: 1.2em;
    margin-left: 1em;
}