@media screen and (orientation: portrait) {
    .lang {
        padding: 1vw;
        font-size: 3.5vw;
        border-radius: 2vw;
        margin: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    #upBtn {
        scale: 1.5;
    }

    .ThemeSwitch {
        scale: 1.5;
        margin: 2rem 6rem 0 0;
    }

    .uptodown {
        bottom: -50em;
    }

    .langdrop {
        scale: 1.5;
    }

    .langchange {
        scale: 1.4;
    }

    .dropdown-content a {
        animation: DropDownAnim normal .3s linear;
    }

    .dropdown-content h1 {
        animation: DropDownAnim normal .3s linear;
    }

    .dropdown-content h2 {
        animation: DropDownAnim normal .3s linear;
    }

    .dropdown-content h3 {
        animation: DropDownAnim normal .3s linear;
    }
}