/* Style the tab */
.tab {
    overflow: hidden;
    margin-inline: auto;
    display: table;
}

.tabwith {
    margin-left: 20vw;
    margin-right: 20vw
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1vw;
    background-color: var(--Background);
    box-shadow: var(--BlockShadow);
    border-radius: 1em;
    margin: 2em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    animation: tabshover 0.5s both linear;
}

/* Create an active/current tablink class */
.tab button.active {
    background: linear-gradient(rgba(165, 54, 173) 0%, rgba(218, 107, 225) 100%);
}

.tab button.active:hover {
    animation: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: fade2 1s; /* Fading effect takes 1 second */
}