.team {
    width: 30vw;
    object-fit: cover;
    border-radius: 3em;
    box-shadow: var(--BlockShadow);
}

.TeamI {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.TeamP {
    float: inline-end;
}

.TBB {
    margin-bottom: 2vw;
    padding: 2vw;
    background-color: var(--Background);
    box-shadow: var(--BlockShadow);
    border-radius: 3em;
    display: flex;
}

.TTB {
    padding: 2vw;
    background-color: var(--Background);
    box-shadow: var(--BlockShadow);
    border-radius: 3em;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.TTBT {
    color: var(--BaseColor);
    text-shadow: var(--BaseShadow);
}

.PEM {
    width: 3vw;
}

.ItemTabel1 {
    order: 1;
}

.ItemTabel2 {
    order: 2;
}

.ItemTabel3 {
    order: 3;
}